html {
    height: 100%;
}
body { 
    display: flex;
    flex-direction: column;
    background-image: url("gachi-gachimuchi.gif");
    background-size: cover;
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
    height: 99%;
  } 
  #main { 
    display: flex;
    flex: 1 0 auto; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background-color: rgba(210, 180, 140, 0.5); 
  } 
  img { 
    max-width: 100%; 
    display: block; 
    background: #196da5;
    padding: 10px;
  } 
  #img-div {  
    color: #fbff02e8; 
    font-style : italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #000;
  } 
  footer { 
    display: flex;
    flex: 0 0 auto;
    flex-direction: column; 
    justify-content: flex-end; 
    color: gray; 
    align-self: center;
    border-block: solid;
    width: 100%; 
  }
