body { 
    background-color: #D2B48C; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
  } 
  #main { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 30px; 
  } 
  img { 
    max-width: 100%; 
    display: block; 
  } 
  #img-div { 
    background: #FFD700; 
    padding: 10px; 
  } 
  footer { 
    flex-direction: column; 
    align-items: center; 
    color: gray; 
    border-block: solid; 
  }